.header-container{
     width: 100%;
     
     background-color: #4f8cf5;

     margin-bottom: 4rem;
}
header{
     width: 100%;
     max-width: 1280px;
     height: 7rem;

     display: flex;
     align-items: center;
     justify-content: space-between;

     padding: 0 5rem;

     margin: 0 auto;
}

header h1{
     font-size: 3.2rem;
     color: #e9dada;
}

header .login-user-icon{
     font-size: 3rem;
     color: #e9dada;;
}

.wrapper-header-right-infos{
     display: flex;
     align-items: center;
     gap: 1rem;
}

.logged{
     display: flex;
     gap: 1rem;
     align-items: center;

     font-size: 1.4rem;
}